.centered {
    font-size: 7rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 50%;
}

.centered span {
    will-change: filter;
    
}
a {
    font-size: 25%;
    color: #FFFFFF
}



.four{
  font-size: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 50%;
}



body {
    background-color: #121212;
}
