body {
    background-color:#8c8071;
}


.donzal {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding-left:140px;
    text-decoration: none;
    padding-top:25px;
    font-size: 45px;
    color: #403630;
    display: block; 
    position:fixed; 
    line-height:0px;
}

.bodytext {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding-left:150px;
    text-decoration: none;
    font-size: 45px;
    color: #403630;
    display: block; 
    position:fixed; 
    line-height:3px;
    padding-top:125px;
    word-spacing:2px;

}

.twitter {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding-left:150px;
    text-decoration: none;
    font-size: 45px;
    color: #403630;
    display: block; 
    position:fixed; 
    line-height:3px;
    padding-top:350px;
    word-spacing:2px;

}

a:link, a:visited, a:active {
    color:#403630;   
    text-decoration: none;
}

a:hover {
    color: #303A40;

    
}




.blink {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

