body {
    background-color: #121212;
}
.centered {
    font-size: 240%;
    position:absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    color: #FFFFFF;
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    line-height: 75%;
}

    .mailto {
    font-size: 200%;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #FFFFFF;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    line-height: 50%;
}
a {
    color:#FFFFFF;
    text-decoration: none;
}
.blink {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

